<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>

<body>
    <h1 class="caption">Here You Can See Your Information</h1>

    <div id="myForm">
        <h1 class="cap">Enter your information</h1>
        <label for="login">Username</label>
        <input id="login" type="text" required>

        <label for="accounttype">Account Type</label>
        <input id="accounttype" type="text" required>

        <label for="mail">Email</label>
        <input id="mail" type="email" required>

        <label for="pass">Password</label>
        <input id="pass" type="password" required>
        <div class="box">
            <div class="line">
                <label for="age">Age</label>
                <input id="age" type="text" required>
            </div>
            <div class="line">
                <label for="nation">Nationality</label>
                <input id="nation" type="text" required>
            </div>
        </div>
        <input type="submit" onclick='getValue()' value="Submit">
    </div>
</body>

<script src="script.js"></script>

</html>